{% extends 'base.html' %}
{% from "components/_formhelpers.html" import render_field %}

{% block title%}{{ page_title }} | SILA{% endblock %}

{% block body%}
<div class='wrapper'>
  {% include 'components/sidebar.html' %}

  <div class='main-panel'>
    <div class='content'>
      <div class='row'>
        <div class='col-md-12'>
          <h2 class='mb-5'>{{ page_title }}</h2>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='card'>
            <div class='card-body'>
              <form method='post'>
                {% for field in form %}
                  {{ render_field(field) }}
                {% endfor %}
                <input type='submit' value='Save' class='btn btn-info btn-fill btn-wd' >
                {% if form.id.data %}
                <input type='submit' value='Delete' name='delete' class='btn btn-danger btn-fill btn-wd pull-right' >
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='card'>
            <div class='card-body'>
              <h4 class="card-title">Phases</h4>
              <div calss='table-responsive'>
                <table class='table'>
                  {% for phase in project.phases %}
                  <form
                    method='post'
                    action='{{ url_for("projects.project_remove_phase", project_id=project.id, phase_order=phase.order) }}'
                    onsubmit='return confirm("Do you really want to remove this phase from the project?");'
                  >
                    <tr>
                      <td>{{ phase.order }}</td>
                      <td>{{ phase.type.to_name() }}</td>
                      <td>
                        <button class='pull-right btn btn-danger btn-sm btn-delete-phase' data-project-id='{{ project_id }}' data-phase-order='{{ phase.order }}'><i class='fa fa-times'></i></button>
                      </td>
                    </tr>
                  </form>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='card'>
            <div class='card-body'>
              <h6 class="card-title">New phase</h6>
              <form method='post' action='{{ url_for("projects.project_add_phase", project_id=project.id) }}'>
                {% for field in new_phase_form %}
                  {{ render_field(field) }}
                {% endfor %}
                <input type='submit' value='Add' class='btn btn-info btn-fill btn-wd' >
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}