{% extends "base.html" %}

{% block title %}Moderate Images{% endblock %}

{% block body%}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-5 mb-5">Moderate Images</h2>

      {% for file in files %}
      <div class="moderate-item-container d-flex flex-row p-3" data-filename="{{ file }}">
        <div class="toolbox d-flex flex-column justify-content-around mr-3">
          <button class="btn-reject" data-filename="{{ file }}"><i class="fas fa-times"></i></a></button>
          <button class="btn-accept" data-filename="{{ file }}"><i class="fas fa-check"></i></a></button>
        </div>
        <a href="{{ url_for('task.moderate_get_file', filename=file) }}" target="_blank">
          <img src="{{ url_for('task.moderate_get_file', filename=file) }}" class="moderate-item img-fluid" ></img>
        </a>
      </div>
      {% endfor %}

      <button id="btn-save" class="btn btn-lg btn-primary">Save</button>
      <a id="btn-reload" class="btn btn-lg btn-primary" href="">Reload</a>

    </div>
  </div>
</div>
{% endblock %}

{% block body_script %}
<script>

  $(document).ready(() => {
    $("button.btn-reject").click((event) => {
      const target = $(event.target).closest("button.btn-reject")[0];
      const itemContainer = $(target).closest(".moderate-item-container");
      $(itemContainer).removeClass('accepted');
      $(itemContainer).addClass('rejected');
    })

    $("button.btn-accept").click((event) => {
      const target = $(event.target).closest("button.btn-accept")[0];

      const itemContainer = $(target).closest(".moderate-item-container");
      $(itemContainer).removeClass('rejected');
      $(itemContainer).addClass('accepted');
    })

    $("#btn-save").click(() => {
      const acceptedItems = $(".moderate-item-container.accepted")
        .map(function() { return $(this).data("filename") })
        .toArray();

      const rejectedItems = $(".moderate-item-container.rejected")
        .map(function() { return $(this).data("filename") })
        .toArray();

      acceptedItems.forEach((item) => {
        const url = "{{ url_for('task.moderate_accept_file', filename='__filename__') }}".replace("__filename__", item);
        const itemContainer = $(`.moderate-item-container[data-filename='${item}']`);
        saveVerdict(url, itemContainer);
      })

      rejectedItems.forEach((item) => {
        const url = "{{ url_for('task.moderate_reject_file', filename='__filename__') }}".replace("__filename__", item);
        const itemContainer = $(`.moderate-item-container[data-filename='${item}']`);
        saveVerdict(url, itemContainer);
      })
    })
  })

  function saveVerdict(url, itemContainer) {
    fetch(url).then(response => {
      if (response.ok) {
         $(itemContainer).remove();

         const numRemainingItems = $(".moderate-item-container").length;

         if (0 === numRemainingItems) {
           window.location.reload();
         }

      } else {
        console.error(response.error);
      }
    })
  }

</script>
{% endblock %}
